// Variables

//
// custom-variables
//

$font-family-primary: "Aileron", sans-serif;
$font-family-secondary: "DM sans", sans-serif;

// colors text
$color-text-title-pr:#0F2137;
$color-text-title-sec:#FFFFFF;
$color-text-aftertitle: #2F5BE9;
$color-text-paragraph: #6B7583;

// colors bg
$color-bg-pr: #EFF4FB;
$color-bg-sec: #FBFCFE;
$color-bg-third: #111126;



@mixin color-gradient {
    background: linear-gradient(90deg, #72E0E0 0.07%, #2F81E3 83.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }